In [ ]:

import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/프로젝트/배당정보 수정.csv', encoding='euc-kr')

# 데이터 전처리
3년 별로 변수들을 정리

## 데이터 : 배당정보 수정.csv
- 출처: KIND공시정보

In [ ]:
df.head()

,회사명,종목코드,사업연도,결산월,업종,업종별 배당률,주식배당(배당기준일),현금배당 액면가,기말주식수,주당배당금,배당성향,총배당금액,시가배당률
0,3S,60310,2021,3,기계·장비,0.50,0,500,"45,211,895",0,0,0,0.0
1,3S,60310,2020,3,기계·장비,1.34,0,500,"44,802,511",0,0,0,0.0
2,3S,60310,2019,3,기계·장비,0.80,0,500,"44,772,143",0,0,0,0.0
3,AJ네트웍스,95570,2021,12,서비스업,0.43,0,"1,000","46,822,295",270,15.752,"12,087,310,320",5.0
4,AJ네트웍스,95570,2020,12,서비스업,0.68,0,"1,000","46,822,295",210,296.433,"9,832,681,950",4.6

In [ ]:
df.columns

Index(['회사명', '종목코드', '사업연도', '결산월', '업종', '업종별 배당률', '주식배당(배당기준일)',
       '현금배당 액면가', '기말주식수', '주당배당금', '배당성향', '총배당금액', '시가배당률'],
      dtype='object')

In [ ]:
df.isna().sum()

회사명            0
종목코드           0
사업연도           0
결산월            0
업종             0
업종별 배당률        0
주식배당(배당기준일)    0
현금배당 액면가       0
기말주식수          0
주당배당금          0
배당성향           0
총배당금액          0
시가배당률          0
dtype: int64

In [ ]:
#columns 변수 정리(주식배당 제외)
df = df[['회사명', '종목코드', '사업연도', '결산월', '업종', '업종별 배당률',
       '현금배당 액면가', '기말주식수', '주당배당금', '배당성향', '총배당금액', '시가배당률']]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회사명       3000 non-null   object
 1   종목코드      3000 non-null   int64
 2   사업연도      3000 non-null   int64
 3   결산월       3000 non-null   int64
 4   업종        3000 non-null   object
 5   업종별 배당률   3000 non-null   float64
 6   현금배당 액면가  3000 non-null   object
 7   기말주식수     3000 non-null   object
 8   주당배당금     3000 non-null   object
 9   배당성향      3000 non-null   object
 10  총배당금액     3000 non-null   object
 11  시가배당률     3000 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 281.4+ KB

In [ ]:
#배당이 없는 회사 인덱스 리스트 만들기(따로 데이터 프레임을 생성하기)
no_dividend = []
for n in range(len(df['주당배당금'])):
  if df['주당배당금'][n] == '0':
    no_dividend.append(n)

In [ ]:
#배당금 없는 회사 리스트 만들기
no_divi_com = []
for n in range(len(df['주당배당금'])):
  if df['주당배당금'][n] == '0':
    no_divi_com.append(df['회사명'][n])

In [ ]:
#데이터프레임에서 주당배당금이 없는 회사행을 삭제
#데이터 전처리 끝내고 배당회사와 비배당 회사 나눌 필요가 있으면 사용
#for i in no_dividend:
    #df.drop([i], inplace=True)

In [ ]:
df

,회사명,종목코드,사업연도,결산월,업종,업종별 배당률,현금배당 액면가,기말주식수,주당배당금,배당성향,총배당금액,시가배당률
0,3S,60310,2021,3,기계·장비,0.50,500,"45,211,895",0,0,0,0.0
1,3S,60310,2020,3,기계·장비,1.34,500,"44,802,511",0,0,0,0.0
2,3S,60310,2019,3,기계·장비,0.80,500,"44,772,143",0,0,0,0.0
3,AJ네트웍스,95570,2021,12,서비스업,0.43,"1,000","46,822,295",270,15.752,"12,087,310,320",5.0
4,AJ네트웍스,95570,2020,12,서비스업,0.68,"1,000","46,822,295",210,296.433,"9,832,681,950",4.6
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,세아제강지주,3030,2020,12,금융업,3.56,"5,000","4,141,657","1,500",17.946,"6,060,691,500",3.3
2996,세아제강지주,3030,2019,12,금융업,3.15,"5,000","4,141,657","1,500",41.103,"6,060,691,500",3.2
2997,세아특수강,19440,2021,12,철강금속,2.09,"5,000","8,570,000","1,200",37.414,"10,013,842,800",7.4
2998,세아특수강,19440,2020,12,철강금속,2.73,"5,000","8,570,000",700,109.01,"4,639,483,900",5.7
2999,세아특수강,19440,2019,12,철강금속,3.04,"5,000","8,570,000",900,68.881,"7,572,136,500",6.3

---
## 주당배당금

In [ ]:
#데이터 타입변경
df['주당배당금'] = df['주당배당금'].str.replace(',','')

In [ ]:
df['주당배당금'] = df['주당배당금'].astype('int')

In [ ]:
type(df['주당배당금'][3])

numpy.int64

In [ ]:
df_3=df.pivot(index='회사명', columns='사업연도', values='주당배당금')

In [ ]:
df_3.columns= ['2019 주당배당금', '2020 주당배당금', '2021 주당배당금']

In [ ]:
#주당배당금
df_3.head()

        2019 주당배당금  2020 주당배당금  2021 주당배당금
회사명
3S               0           0           0
AJ네트웍스         300         210         270
AK홀딩스          750         400         200
APS홀딩스           0           0         100
AP시스템           50         120         240

In [ ]:
df_3 = df_3[['2021 주당배당금', '2020 주당배당금',	'2019 주당배당금']]

In [ ]:
df_3

         2021 주당배당금  2020 주당배당금  2019 주당배당금
회사명
3S                0           0           0
AJ네트웍스          270         210         300
AK홀딩스           200         400         750
APS홀딩스          100           0           0
AP시스템           240         120          50
...             ...         ...         ...
세아메카닉스            0           0           0
세아베스틸지주        1500         200         300
세아제강           3500        2500        2000
세아제강지주         1750        1500        1500
세아특수강          1200         700         900

[1000 rows x 3 columns]

In [ ]:
df_3['2021 주당배당금']

회사명
3S            0
AJ네트웍스      270
AK홀딩스       200
APS홀딩스      100
AP시스템       240
           ...
세아메카닉스        0
세아베스틸지주    1500
세아제강       3500
세아제강지주     1750
세아특수강      1200
Name: 2021 주당배당금, Length: 1000, dtype: int64

---
## 배당정책
- 주당 배당금 기준으로 오르면 (1)/ 내리거나 동일하면 (0)

In [ ]:
#이진분류 함수를 생성
def bina(a, b):
  if a <= b:
    return 0
  elif a > b:
    return 1

In [ ]:
bina(2,1)

1

In [ ]:
df_3['배당정책(Y)'] = df_3.apply(lambda x: bina(x['2021 주당배당금'], x['2020 주당배당금']), axis = 1)

In [ ]:
#인덱스를 열로 변환
df_3 = df_3.rename_axis('회사명').reset_index()

In [ ]:
df_3

         회사명  2021 주당배당금  2020 주당배당금  2019 주당배당금  배당정책(Y)
0         3S           0           0           0        0
1     AJ네트웍스         270         210         300        1
2      AK홀딩스         200         400         750        0
3     APS홀딩스         100           0           0        1
4      AP시스템         240         120          50        1
..       ...         ...         ...         ...      ...
995   세아메카닉스           0           0           0        0
996  세아베스틸지주        1500         200         300        1
997     세아제강        3500        2500        2000        1
998   세아제강지주        1750        1500        1500        1
999    세아특수강        1200         700         900        1

[1000 rows x 5 columns]

In [ ]:
df_3.columns

Index(['회사명', '2021 주당배당금', '2020 주당배당금', '2019 주당배당금', '배당정책(Y)'], dtype='object')

---
## 총배당금액

In [ ]:
#type변경
df['총배당금액'] = df['총배당금액'].str.replace(',','').astype('int64')

In [ ]:
#총배당금액
df_4 = df.pivot(index='회사명', columns='사업연도', values='총배당금액')

In [ ]:
df_4

사업연도            2019        2020         2021
회사명
3S                 0           0            0
AJ네트웍스   14046688500  9832681950  12087310320
AK홀딩스     9784121250  5218198000   2609099000
APS홀딩스             0           0   1839385200
AP시스템     1103050120  2108917920   3615872160
...              ...         ...          ...
세아메카닉스             0           0            0
세아베스틸지주  10678694700  2615369400  48664970400
세아제강      5672600000  7000250000   9800350000
세아제강지주    6060691500  6060691500   7070806750
세아특수강     7572136500  4639483900  10013842800

[1000 rows x 3 columns]

In [ ]:
df_4.columns= ['2019 총배당금액', '2020 총배당금액', '2021 총배당금액']

In [ ]:
df_4 = df_4[['2021 총배당금액', '2020 총배당금액', '2019 총배당금액']]

In [ ]:
#인덱스를 열로 변환
df_4 = df_4.rename_axis('회사명').reset_index()

In [ ]:
df_4.head()

      회사명   2021 총배당금액  2020 총배당금액   2019 총배당금액
0      3S            0           0            0
1  AJ네트웍스  12087310320  9832681950  14046688500
2   AK홀딩스   2609099000  5218198000   9784121250
3  APS홀딩스   1839385200           0            0
4   AP시스템   3615872160  2108917920   1103050120

---
## 배당성향

In [ ]:
#type변경
df[df['배당성향'].str.contains(' *')].value_counts()

회사명     종목코드    사업연도  결산월  업종       업종별 배당률  현금배당 액면가  기말주식수        주당배당금  배당성향    총배당금액        시가배당률
3S      60310   2019  3    기계·장비    0.80     500       44,772,143   0      0       0            0.00     1
린드먼아시아  277070  2021  12   금융       1.34     500       13,657,000   42     10.518  556385214    0.76     1
리드코프    12700   2021  12   유통       0.36     500       26,446,135   800    51.281  20475881600  8.20     1
리메드     302550  2019  12   의료·정밀기기  0.50     500       5,822,956    0      0       0            0.00     1
                2020  12   의료·정밀기기  0.36     500       6,088,916    0      0       0            0.00     1
                                                                                                        ..
남광토건    1260    2019  12   건설업      1.87     5,000     9,828,611    0      0       0            0.00     1
                2020  12   건설업      1.86     5,000     9,828,901    0      0       0            0.00     1
                2021  12   건설업      1.63     5,000     9,829,014    0      0       0            0.00     1
남선알미늄   8350    2019  12   철강금속     3.04     500       110,179,090  0      0       0            0.00     1
세아특수강   19440   2021  12   철강금속     2.09     5,000     8,570,000    1200   37.414  10013842800  7.40     1
Length: 3000, dtype: int64

In [ ]:
#문자열(,) 제거
df['배당성향'] = df['배당성향'].str.replace(',','')

In [ ]:
#문자열( *)제거
df['배당성향'] = df['배당성향'].str.replace(' *','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
#문자열(*)제거
df['배당성향'] = df['배당성향'].str.replace('*','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
df['배당성향'] = df['배당성향'].astype('float64')

In [ ]:
df_5 = df.pivot(index='회사명', columns='사업연도', values='배당성향')

In [ ]:
df_5

사업연도       2019     2020    2021
회사명
3S        0.000    0.000   0.000
AJ네트웍스   33.342  296.433  15.752
AK홀딩스    17.052    1.963   1.309
APS홀딩스    0.000    0.000   7.799
AP시스템    11.671    8.452   6.325
...         ...      ...     ...
세아메카닉스    0.000    0.000   0.000
세아베스틸지주  55.650    1.065  26.496
세아제강     22.826   21.175  10.723
세아제강지주   41.103   17.946   3.120
세아특수강    68.881  109.010  37.414

[1000 rows x 3 columns]

In [ ]:
df_5.columns= ['2019 배당성향(X3)', '2020 배당성향(X3)', '2021 배당성향(X3)']

In [ ]:
df_5 = df_5[['2021 배당성향(X3)', '2020 배당성향(X3)', '2019 배당성향(X3)']]

In [ ]:
#인덱스를 열로 변환
df_5 = df_5.rename_axis('회사명').reset_index()

In [ ]:
df_5.head()

      회사명  2021 배당성향(X3)  2020 배당성향(X3)  2019 배당성향(X3)
0      3S          0.000          0.000          0.000
1  AJ네트웍스         15.752        296.433         33.342
2   AK홀딩스          1.309          1.963         17.052
3  APS홀딩스          7.799          0.000          0.000
4   AP시스템          6.325          8.452         11.671

---
## 배당률
- = (주당배당금 / 액면가) * 100
- __<u>astype함수로 int나 float로 바꾸려고 하면 오류가 발생함</u>__
  - 문제 해결
    - __df[df['-'].str.contains('찾을문자열')]__을 사용하여 문자열 확인
    - __df['-'].str.replace(',', '').astype('int64')__ 사용하여 타입 변경하기
- __str.replace__함수 알아보기

In [ ]:
type(df['주당배당금'][3])

numpy.int64

In [ ]:
#현금배당액면가 int로 타입변경
df['현금배당 액면가'] = df['현금배당 액면가'].str.replace(',','').astype('int64')

In [ ]:
df['현금배당 액면가'] = df['현금배당 액면가'].astype('float64')

In [ ]:
type(df['현금배당 액면가'][3])

numpy.float64

In [ ]:
#배당률 구하는 함수를 정의
def divi_yield(a, b):
  try:
      divi = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    divi = 0
  return divi

In [ ]:
#df에 배당률을 추가
df['배당률'] = df.apply(lambda x: divi_yield(x['주당배당금'], x['현금배당 액면가']), axis = 1)

In [ ]:
df['배당률']

0        0.0
1        0.0
2        0.0
3       27.0
4       21.0
        ...
2995    30.0
2996    30.0
2997    24.0
2998    14.0
2999    18.0
Name: 배당률, Length: 3000, dtype: float64

In [ ]:
df_6 = df.pivot(index='회사명', columns='사업연도', values='배당률')

In [ ]:
df_6

사업연도     2019  2020  2021
회사명
3S        0.0   0.0   0.0
AJ네트웍스   30.0  21.0  27.0
AK홀딩스    15.0   8.0   4.0
APS홀딩스    0.0   0.0  20.0
AP시스템    10.0  24.0  48.0
...       ...   ...   ...
세아메카닉스    0.0   0.0   0.0
세아베스틸지주   6.0   4.0  30.0
세아제강     40.0  50.0  70.0
세아제강지주   30.0  30.0  35.0
세아특수강    18.0  14.0  24.0

[1000 rows x 3 columns]

In [ ]:
df_6.columns = ['2019 배당률(X4)', '2020 배당률(X4)', '2021 배당률(X4)']

In [ ]:
df_6 = df_6[['2021 배당률(X4)', '2020 배당률(X4)', '2019 배당률(X4)']]

In [ ]:
#인덱스를 열로 변환
df_6 = df_6.rename_axis('회사명').reset_index()

In [ ]:
df_6.head()

      회사명  2021 배당률(X4)  2020 배당률(X4)  2019 배당률(X4)
0      3S           0.0           0.0           0.0
1  AJ네트웍스          27.0          21.0          30.0
2   AK홀딩스           4.0           8.0          15.0
3  APS홀딩스          20.0           0.0           0.0
4   AP시스템          48.0          24.0          10.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   회사명       3000 non-null   object
 1   종목코드      3000 non-null   int64
 2   사업연도      3000 non-null   int64
 3   결산월       3000 non-null   int64
 4   업종        3000 non-null   object
 5   업종별 배당률   3000 non-null   float64
 6   현금배당 액면가  3000 non-null   float64
 7   기말주식수     3000 non-null   object
 8   주당배당금     3000 non-null   int64
 9   배당성향      3000 non-null   float64
 10  총배당금액     3000 non-null   int64
 11  시가배당률     3000 non-null   float64
 12  배당률       3000 non-null   float64
dtypes: float64(5), int64(5), object(3)
memory usage: 304.8+ KB

#### 배당률의 한계??
- __상장기업의 경우__ 액면가 보다는 __주식시가(시세)에 의해 기업의 주식이 거래__된다는 점에서 <br><u>배당률만으로 배당금이 현재 시장가치 대비 어느 정도 차지하는지 알기 어려움</u>
<br>
- 기업의 배당관련투자분석 시 <br>배당률 지표만 단독적으로 활용하기 보다는 <u>__시가배당률__과 __배당수익률__ 지표를 보조적으로 활용함!!</u>
 - 시가배당률과 배당수익률
    - 시가배당률과 배당수익률은 주식의 시장가치인 <u>주가(주식시세)를 기준으로 계산</u>한다는 점에서 배당률과 차이가 있음

## 시가배당률
- 배당률과 보조적으로 같이 활용함으로 포함

In [ ]:
df_7 = df.pivot(index='회사명', columns='사업연도', values='시가배당률')

In [ ]:
df_7

사업연도     2019  2020  2021
회사명
3S       0.00  0.00  0.00
AJ네트웍스   6.10  4.60  5.00
AK홀딩스    2.20  1.63  1.01
APS홀딩스   0.00  0.00  0.80
AP시스템    0.10  0.50  0.90
...       ...   ...   ...
세아메카닉스   0.00  0.00  0.00
세아베스틸지주  1.87  1.91  7.36
세아제강     3.20  2.80  3.60
세아제강지주   3.20  3.30  1.70
세아특수강    6.30  5.70  7.40

[1000 rows x 3 columns]

In [ ]:
df_7.columns = ['2019 시가배당률', '2020 시가배당률', '2021 시가배당률']

In [ ]:
df_7 = df_7[['2021 시가배당률', '2020 시가배당률', '2019 시가배당률']]

In [ ]:
#인덱스를 열로 변환
df_7 = df_7.rename_axis('회사명').reset_index()

In [ ]:
df_7

         회사명  2021 시가배당률  2020 시가배당률  2019 시가배당률
0         3S        0.00        0.00        0.00
1     AJ네트웍스        5.00        4.60        6.10
2      AK홀딩스        1.01        1.63        2.20
3     APS홀딩스        0.80        0.00        0.00
4      AP시스템        0.90        0.50        0.10
..       ...         ...         ...         ...
995   세아메카닉스        0.00        0.00        0.00
996  세아베스틸지주        7.36        1.91        1.87
997     세아제강        3.60        2.80        3.20
998   세아제강지주        1.70        3.30        3.20
999    세아특수강        7.40        5.70        6.30

[1000 rows x 4 columns]

## 배당수익률(구하지 않음)
- (연간배당금 / 주가) * 100
 - 연간배당금 : 지난 4분기 동안의 배당금을 활용하는 것이 일반적(올해 예상 배당금이 있으면 예상배당금을 적용하기도 함)
 - 과거연도의 배당수익률을 확인할 때는 당해연도의 배당금과 연도말 주가를 기준으로 표현하는 것이 일반적

## 2. 데이터 합치기

In [ ]:
p1 = pd.merge(df_3, df_4, how='outer', on='회사명')

In [ ]:
p1

,회사명,2021 주당배당금,2020 주당배당금,2019 주당배당금,배당정책(Y),2021 총배당금액,2020 총배당금액,2019 총배당금액
0,3S,0,0,0,0,0,0,0
1,AJ네트웍스,270,210,300,1,12087310320,9832681950,14046688500
2,AK홀딩스,200,400,750,0,2609099000,5218198000,9784121250
3,APS홀딩스,100,0,0,1,1839385200,0,0
4,AP시스템,240,120,50,1,3615872160,2108917920,1103050120
...,...,...,...,...,...,...,...,...
995,세아메카닉스,0,0,0,0,0,0,0
996,세아베스틸지주,1500,200,300,1,48664970400,2615369400,10678694700
997,세아제강,3500,2500,2000,1,9800350000,7000250000,5672600000
998,세아제강지주,1750,1500,1500,1,7070806750,6060691500,6060691500
999,세아특수강,1200,700,900,1,10013842800,4639483900,7572136500

In [ ]:
p2 = pd.merge(p1, df_5, how='outer', on='회사명')

In [ ]:
p2

,회사명,2021 주당배당금,2020 주당배당금,2019 주당배당금,배당정책(Y),2021 총배당금액,2020 총배당금액,2019 총배당금액,2021 배당성향(X3),2020 배당성향(X3),2019 배당성향(X3)
0,3S,0,0,0,0,0,0,0,0.000,0.000,0.000
1,AJ네트웍스,270,210,300,1,12087310320,9832681950,14046688500,15.752,296.433,33.342
2,AK홀딩스,200,400,750,0,2609099000,5218198000,9784121250,1.309,1.963,17.052
3,APS홀딩스,100,0,0,1,1839385200,0,0,7.799,0.000,0.000
4,AP시스템,240,120,50,1,3615872160,2108917920,1103050120,6.325,8.452,11.671
...,...,...,...,...,...,...,...,...,...,...,...
995,세아메카닉스,0,0,0,0,0,0,0,0.000,0.000,0.000
996,세아베스틸지주,1500,200,300,1,48664970400,2615369400,10678694700,26.496,1.065,55.650
997,세아제강,3500,2500,2000,1,9800350000,7000250000,5672600000,10.723,21.175,22.826
998,세아제강지주,1750,1500,1500,1,7070806750,6060691500,6060691500,3.120,17.946,41.103
999,세아특수강,1200,700,900,1,10013842800,4639483900,7572136500,37.414,109.010,68.881

In [ ]:
p3 = pd.merge(p2, df_6, how='outer', on='회사명')

In [ ]:
fi = pd.merge(p3, df_7, how='outer', on='회사명')

In [ ]:
fi

,회사명,2021 주당배당금,2020 주당배당금,2019 주당배당금,배당정책(Y),2021 총배당금액,2020 총배당금액,2019 총배당금액,2021 배당성향(X3),2020 배당성향(X3),2019 배당성향(X3),2021 배당률(X4),2020 배당률(X4),2019 배당률(X4),2021 시가배당률,2020 시가배당률,2019 시가배당률
0,3S,0,0,0,0,0,0,0,0.000,0.000,0.000,0.0,0.0,0.0,0.00,0.00,0.00
1,AJ네트웍스,270,210,300,1,12087310320,9832681950,14046688500,15.752,296.433,33.342,27.0,21.0,30.0,5.00,4.60,6.10
2,AK홀딩스,200,400,750,0,2609099000,5218198000,9784121250,1.309,1.963,17.052,4.0,8.0,15.0,1.01,1.63,2.20
3,APS홀딩스,100,0,0,1,1839385200,0,0,7.799,0.000,0.000,20.0,0.0,0.0,0.80,0.00,0.00
4,AP시스템,240,120,50,1,3615872160,2108917920,1103050120,6.325,8.452,11.671,48.0,24.0,10.0,0.90,0.50,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,세아메카닉스,0,0,0,0,0,0,0,0.000,0.000,0.000,0.0,0.0,0.0,0.00,0.00,0.00
996,세아베스틸지주,1500,200,300,1,48664970400,2615369400,10678694700,26.496,1.065,55.650,30.0,4.0,6.0,7.36,1.91,1.87
997,세아제강,3500,2500,2000,1,9800350000,7000250000,5672600000,10.723,21.175,22.826,70.0,50.0,40.0,3.60,2.80,3.20
998,세아제강지주,1750,1500,1500,1,7070806750,6060691500,6060691500,3.120,17.946,41.103,35.0,30.0,30.0,1.70,3.30,3.20
999,세아특수강,1200,700,900,1,10013842800,4639483900,7572136500,37.414,109.010,68.881,24.0,14.0,18.0,7.40,5.70,6.30

# 저장

In [ ]:
fi.to_csv('배당정보변수.csv', encoding='utf-8-sig')