In [1]:
import pandas as pd
import numpy as np

# 데이터 불러오기
- 불러온 데이터는 결측치들은 변수를 계산하기 위해 모두 0으로 바꿔준 후 불러옴

In [2]:
#파일 불러오기
#thousands=','을 사용하여 쉼표를 제거(정수/실수형으로 변경)
df = pd.read_csv('/content/drive/MyDrive/프로젝트/DART/변수정리/독립변수 결측치를 0으로 가공.csv', thousands=',')

In [3]:
df

,회사명,유동자산_당기,유동자산_전기,유동자산_전전기,유동부채_당기,유동부채_전기,유동부채_전전기,자본총계(자기자본)_당기,자본총계(자기자본)_전기,자본총계(자기자본)_전전기,...,기본주당순이익(손실)_전전기,영업이익(손실)_당기,영업이익(손실)_전기,영업이익(손실)_전전기,매출액_당기,매출액_전기,매출액_전전기,이자비용_당기,이자비용_전기,이자비용_전전기
0,3S,16020752276,18023023716,16139731967,14676537890,13097592540,16273940263,34906851552,32382338493,33053418334,...,27,-1419946008,389061821,1530441526,21999630153,19470454452,31950585373,455470086,389323187,780283868
1,AJ네트웍스,130457258750,156297229968,273884243596,397997623454,491937779549,515304974244,372788339851,298444706674,310448638891,...,1084,56473577429,50286710890,39951143707,485523715929,453554892290,391780284062,0,0,0
2,AK홀딩스,4424324709,11433465226,6195148908,216506590361,151234427824,93390213847,537304001226,516710196269,517879021747,...,1435,37303132629,31612603878,20253132603,0,0,0,0,0,0
3,APS홀딩스,60721860931,15995084893,33462621949,39248529244,12118180694,7673192799,186810490637,165530734817,209969587090,...,-34,1831874144,-10332255472,-6417261079,11810634365,4535391221,3396431750,0,0,0
4,AP시스템,286554851999,218022676161,249272776666,135131879162,152317933052,285970844793,189072456030,136563465651,113375745767,...,629,63491235157,45122485127,27590060199,520358803096,583332097585,460248239908,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,흥국에프엔비,41619766190,38374409491,37139401971,44198116580,22901200158,24401481690,76497918931,67613965481,62661707914,...,140,5873896184,2377368675,5085681739,59273534157,48422009516,51915567128,0,0,0
2227,흥아해운,53674943319,51275585950,61182849921,26798507662,146027932498,178068105912,108146996426,-20161176456,17632229055,...,-400,-1851887276,-4227715577,-14756166996,81724313869,85455349143,97376908847,0,0,0
2228,희림,126972900121,121079203016,122067338371,94884552607,92867448498,96015456264,60611903169,57246914998,54016890219,...,303,8031063471,9637167072,7516492581,211829416569,203635393837,178158266942,0,0,0
2229,힘스,33613521761,48267546605,48590563187,8553693388,11014966808,22705592894,73916234855,77741823514,60775015929,...,752,-4183890066,24802120711,7702123233,50584198635,106206149566,85064902299,0,0,0
2230,CNH,0,0,0,0,0,0,113308407219,125576039518,98396218343,...,429,-13030879378,32364044971,16097899734,15634509788,40200687216,23291724498,0,0,0

In [4]:
df.columns

Index(['회사명', '유동자산_당기', '유동자산_전기', '유동자산_전전기', '유동부채_당기', '유동부채_전기',
       '유동부채_전전기', '자본총계(자기자본)_당기', '자본총계(자기자본)_전기', '자본총계(자기자본)_전전기',
       '부채총계(총부채)_당기', '부채총계(총부채)_전기', '부채총계(총부채)_전전기', '자산총계_당기', '자산총계_전기',
       '자산총계_전전기', '당기순이익(손실)_당기', '당기순이익(손실)_전기', '당기순이익(손실)_전전기',
       '기본주당순이익(손실)_당기', '기본주당순이익(손실)_전기', '기본주당순이익(손실)_전전기', '영업이익(손실)_당기',
       '영업이익(손실)_전기', '영업이익(손실)_전전기', '매출액_당기', '매출액_전기', '매출액_전전기', '이자비용_당기',
       '이자비용_전기', '이자비용_전전기'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   회사명              2231 non-null   object
 1   유동자산_당기          2231 non-null   int64
 2   유동자산_전기          2231 non-null   int64
 3   유동자산_전전기         2231 non-null   int64
 4   유동부채_당기          2231 non-null   int64
 5   유동부채_전기          2231 non-null   int64
 6   유동부채_전전기         2231 non-null   int64
 7   자본총계(자기자본)_당기    2231 non-null   int64
 8   자본총계(자기자본)_전기    2231 non-null   int64
 9   자본총계(자기자본)_전전기   2231 non-null   int64
 10  부채총계(총부채)_당기     2231 non-null   int64
 11  부채총계(총부채)_전기     2231 non-null   int64
 12  부채총계(총부채)_전전기    2231 non-null   int64
 13  자산총계_당기          2231 non-null   int64
 14  자산총계_전기          2231 non-null   int64
 15  자산총계_전전기         2231 non-null   int64
 16  당기순이익(손실)_당기     2231 non-null   int64
 17  당기순이익(손실)_전기     2231 non-null   int64
 18  당기순이익(손실)_전전기    2231 non-null   int64
 19  기본주당순이익(손실)_당기   2231 non-null   int64
 20  기본주당순이익(손실)_전기   2231 non-null   int64
 21  기본주당순이익(손실)_전전기  2231 non-null   int64
 22  영업이익(손실)_당기      2231 non-null   int64
 23  영업이익(손실)_전기      2231 non-null   int64
 24  영업이익(손실)_전전기     2231 non-null   int64
 25  매출액_당기           2231 non-null   int64
 26  매출액_전기           2231 non-null   int64
 27  매출액_전전기          2231 non-null   int64
 28  이자비용_당기          2231 non-null   int64
 29  이자비용_전기          2231 non-null   int64
 30  이자비용_전전기         2231 non-null   int64
dtypes: int64(30), object(1)
memory usage: 540.4+ KB

In [6]:
#결측치 확인
df.isna().sum()

회사명                0
유동자산_당기            0
유동자산_전기            0
유동자산_전전기           0
유동부채_당기            0
유동부채_전기            0
유동부채_전전기           0
자본총계(자기자본)_당기      0
자본총계(자기자본)_전기      0
자본총계(자기자본)_전전기     0
부채총계(총부채)_당기       0
부채총계(총부채)_전기       0
부채총계(총부채)_전전기      0
자산총계_당기            0
자산총계_전기            0
자산총계_전전기           0
당기순이익(손실)_당기       0
당기순이익(손실)_전기       0
당기순이익(손실)_전전기      0
기본주당순이익(손실)_당기     0
기본주당순이익(손실)_전기     0
기본주당순이익(손실)_전전기    0
영업이익(손실)_당기        0
영업이익(손실)_전기        0
영업이익(손실)_전전기       0
매출액_당기             0
매출액_전기             0
매출액_전전기            0
이자비용_당기            0
이자비용_전기            0
이자비용_전전기           0
dtype: int64

---
# 당기순손실여부(X5)
- 2년간 당기순손실 발생 (1), 아니면 (0)
- 당기순손실이 2년 중 한번이라도 발생하면 1

In [7]:
#필요한 열 추출
df_1 = df[['회사명', '당기순이익(손실)_당기', '당기순이익(손실)_전기']]

In [8]:
df_1

         회사명  당기순이익(손실)_당기  당기순이익(손실)_전기
0         3S     754466608    -728262536
1     AJ네트웍스   74063252281   17120613068
2      AK홀딩스   25734536677    9425944010
3     APS홀딩스   21931213062  -43598767588
4      AP시스템   56709601666   24000200814
...      ...           ...           ...
2226  흥국에프엔비    6663363234    4312773589
2227    흥아해운   15770397512  -37397762993
2228      희림    5444199172    5266254959
2229      힘스    -441392436   17204652674
2230     CNH  -10791167381   26635077094

[2231 rows x 3 columns]

In [9]:
#정수형 확인
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   회사명           2231 non-null   object
 1   당기순이익(손실)_당기  2231 non-null   int64
 2   당기순이익(손실)_전기  2231 non-null   int64
dtypes: int64(2), object(1)
memory usage: 52.4+ KB

In [10]:
#당기순손실여부 (0/1)함수 생성 a=2021, b=2020
def mi(a, b):
  if a < 0 or b < 0:
    return 1
  elif a > 0 and b > 0:
    return 0

In [11]:
df_1['당기순손실여부(X5)'] = df_1.apply(lambda x: mi(x['당기순이익(손실)_당기'], x['당기순이익(손실)_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
df_1 = df_1[['회사명', '당기순손실여부(X5)']]

In [13]:
df_1

         회사명  당기순손실여부(X5)
0         3S          1.0
1     AJ네트웍스          0.0
2      AK홀딩스          0.0
3     APS홀딩스          1.0
4      AP시스템          0.0
...      ...          ...
2226  흥국에프엔비          0.0
2227    흥아해운          1.0
2228      희림          0.0
2229      힘스          1.0
2230     CNH          1.0

[2231 rows x 2 columns]

In [14]:
#결측치 확인
df_1.isna().sum()

회사명            0
당기순손실여부(X5)    8
dtype: int64

## 주당순이익(EPS) 감소여부(X6)
- 2021년 기말 (순이익/발행주식수)가 2017년에 비해 감소한 경우(1), 아니면 (0)

In [15]:
#필요한 열 추출
df_2 = df[['회사명', '기본주당순이익(손실)_당기', '기본주당순이익(손실)_전기']]

In [16]:
df_2

         회사명  기본주당순이익(손실)_당기  기본주당순이익(손실)_전기
0         3S              17             -16
1     AJ네트웍스            1646             374
2      AK홀딩스            1973             723
3     APS홀딩스            1192           -2370
4      AP시스템            3900            1670
...      ...             ...             ...
2226  흥국에프엔비             172             117
2227    흥아해운             113           -1465
2228      희림             431             417
2229      힘스             -39            1522
2230     CNH            -310             752

[2231 rows x 3 columns]

In [17]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   회사명             2231 non-null   object
 1   기본주당순이익(손실)_당기  2231 non-null   int64
 2   기본주당순이익(손실)_전기  2231 non-null   int64
dtypes: int64(2), object(1)
memory usage: 52.4+ KB

In [18]:
#주당순이익 감소여부 함수생성 a=2021, b=2020
def eps(a, b):
  if a < b:
    return 1
  elif a > b:
    return 0

In [19]:
df_2['주당순이익감소여부(X6)'] = df_2.apply(lambda x: eps(x['기본주당순이익(손실)_당기'], x['기본주당순이익(손실)_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
#주당순이익감소여부
df_2 = df_2[['회사명', '주당순이익감소여부(X6)']]

In [21]:
df_2

         회사명  주당순이익감소여부(X6)
0         3S            0.0
1     AJ네트웍스            0.0
2      AK홀딩스            0.0
3     APS홀딩스            0.0
4      AP시스템            0.0
...      ...            ...
2226  흥국에프엔비            0.0
2227    흥아해운            0.0
2228      희림            0.0
2229      힘스            1.0
2230     CNH            1.0

[2231 rows x 2 columns]

## 유동비율(X7)
- (유동자산/유동부채) * 100

In [22]:
#유동자산과 유동부채 열추출
df_3 = df[['회사명', '유동자산_당기', '유동자산_전기', '유동부채_당기', '유동부채_전기']]

In [23]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   회사명      2231 non-null   object
 1   유동자산_당기  2231 non-null   int64
 2   유동자산_전기  2231 non-null   int64
 3   유동부채_당기  2231 non-null   int64
 4   유동부채_전기  2231 non-null   int64
dtypes: int64(4), object(1)
memory usage: 87.3+ KB

In [24]:
df_3

         회사명       유동자산_당기       유동자산_전기       유동부채_당기       유동부채_전기
0         3S   16020752276   18023023716   14676537890   13097592540
1     AJ네트웍스  130457258750  156297229968  397997623454  491937779549
2      AK홀딩스    4424324709   11433465226  216506590361  151234427824
3     APS홀딩스   60721860931   15995084893   39248529244   12118180694
4      AP시스템  286554851999  218022676161  135131879162  152317933052
...      ...           ...           ...           ...           ...
2226  흥국에프엔비   41619766190   38374409491   44198116580   22901200158
2227    흥아해운   53674943319   51275585950   26798507662  146027932498
2228      희림  126972900121  121079203016   94884552607   92867448498
2229      힘스   33613521761   48267546605    8553693388   11014966808
2230     CNH             0             0             0             0

[2231 rows x 5 columns]

In [25]:
#유동비율 함수 생성 a = 유동자산, b = 유동부채
def fl(a, b):
  try:
      flu = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    flu = 0
  return round(flu, 2)  #뒤에 두자리수로 반올림

In [26]:
#유동비율 당기 열 추가
df_3['유동비율_당기(X7)']= df_3.apply(lambda x: fl(x['유동자산_당기'], x['유동부채_당기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
#유동비율 전기 열 추가
df_3['유동비율_전기(X7)']= df_3.apply(lambda x: fl(x['유동자산_전기'], x['유동부채_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
df_3 = df_3[['회사명', '유동비율_당기(X7)', '유동비율_전기(X7)']]

In [29]:
df_3

         회사명  유동비율_당기(X7)  유동비율_전기(X7)
0         3S       109.16       137.61
1     AJ네트웍스        32.78        31.77
2      AK홀딩스         2.04         7.56
3     APS홀딩스       154.71       131.99
4      AP시스템       212.06       143.14
...      ...          ...          ...
2226  흥국에프엔비        94.17       167.57
2227    흥아해운       200.29        35.11
2228      희림       133.82       130.38
2229      힘스       392.97       438.20
2230     CNH         0.00         0.00

[2231 rows x 3 columns]

## 부채비율(X8)
- (총부채(부채총계) / 자기자본(자본총계)) * 100

In [30]:
df_4 = df[['회사명', '부채총계(총부채)_당기', '부채총계(총부채)_전기', '자본총계(자기자본)_당기', '자본총계(자기자본)_전기']]

In [31]:
df_4

         회사명  부채총계(총부채)_당기  부채총계(총부채)_전기  자본총계(자기자본)_당기  자본총계(자기자본)_전기
0         3S   16924341659   15870976209    34906851552    32382338493
1     AJ네트웍스  825420971795  905693248015   372788339851   298444706674
2      AK홀딩스  231709514056  157781350001   537304001226   516710196269
3     APS홀딩스   84672371378   23689474456   186810490637   165530734817
4      AP시스템  236708995844  232217362799   189072456030   136563465651
...      ...           ...           ...            ...            ...
2226  흥국에프엔비   46173240885   24224277760    76497918931    67613965481
2227    흥아해운  139842915756  304928523008   108146996426   -20161176456
2228      희림  111182590943  108183083443    60611903169    57246914998
2229      힘스   10376952716   13093688011    73916234855    77741823514
2230     CNH   45361817273   45920116585   113308407219   125576039518

[2231 rows x 5 columns]

In [32]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   회사명            2231 non-null   object
 1   부채총계(총부채)_당기   2231 non-null   int64
 2   부채총계(총부채)_전기   2231 non-null   int64
 3   자본총계(자기자본)_당기  2231 non-null   int64
 4   자본총계(자기자본)_전기  2231 non-null   int64
dtypes: int64(4), object(1)
memory usage: 87.3+ KB

In [33]:
#부채비율 함수 생성 a = 부채총계, b = 자본총계
def dep(a, b):
  try:
      dept = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    dept = 0
  return round(dept, 2)  #뒤에 두자리수로 반올림

In [34]:
#부채비율_당기 열 추가
df_4['부채비율_당기(X8)'] = df_4.apply(lambda x: dep(x['부채총계(총부채)_당기'], x['자본총계(자기자본)_당기']), axis=1)

#부채비율_전기 열 추가
df_4['부채비율_전기(X8)'] = df_4.apply(lambda x: dep(x['부채총계(총부채)_전기'], x['자본총계(자기자본)_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [35]:
#부채비율
df_4 = df_4[['회사명', '부채비율_당기(X8)', '부채비율_전기(X8)']]

In [36]:
df_4

         회사명  부채비율_당기(X8)  부채비율_전기(X8)
0         3S        48.48        49.01
1     AJ네트웍스       221.42       303.47
2      AK홀딩스        43.12        30.54
3     APS홀딩스        45.33        14.31
4      AP시스템       125.19       170.04
...      ...          ...          ...
2226  흥국에프엔비        60.36        35.83
2227    흥아해운       129.31     -1512.45
2228      희림       183.43       188.98
2229      힘스        14.04        16.84
2230     CNH        40.03        36.57

[2231 rows x 3 columns]

## 이자보상비율(X9)
- (영업이익 / 이자비용) * 100
- 값이 빈곳이 많음

In [37]:
df_5 = df[['회사명', '영업이익(손실)_당기', '영업이익(손실)_전기', '이자비용_당기', '이자비용_전기']]

In [38]:
df_5

         회사명  영업이익(손실)_당기  영업이익(손실)_전기    이자비용_당기    이자비용_전기
0         3S  -1419946008    389061821  455470086  389323187
1     AJ네트웍스  56473577429  50286710890          0          0
2      AK홀딩스  37303132629  31612603878          0          0
3     APS홀딩스   1831874144 -10332255472          0          0
4      AP시스템  63491235157  45122485127          0          0
...      ...          ...          ...        ...        ...
2226  흥국에프엔비   5873896184   2377368675          0          0
2227    흥아해운  -1851887276  -4227715577          0          0
2228      희림   8031063471   9637167072          0          0
2229      힘스  -4183890066  24802120711          0          0
2230     CNH -13030879378  32364044971          0          0

[2231 rows x 5 columns]

In [39]:
#이자보상비율 함수 생성 a = 영업이익, b = 이자비용
 
def inter(a, b):
  try:
      i = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    i = 0
  return round(i, 2)  #뒤에 두자리수로 반올림

In [40]:
#이자보상비율_당기 열 추가
df_5['이자보상비율_당기(X9)'] = df_5.apply(lambda x: inter(x['영업이익(손실)_당기'], x['이자비용_당기']), axis=1)

#이자보상비율_전기 열 추가
df_5['이자보상비율_전기(X9)'] = df_5.apply(lambda x: inter(x['영업이익(손실)_전기'], x['이자비용_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [41]:
#이자보상비율만 추출
df_5 = df_5[['회사명', '이자보상비율_당기(X9)', '이자보상비율_전기(X9)']]

In [42]:
df_5

         회사명  이자보상비율_당기(X9)  이자보상비율_전기(X9)
0         3S        -311.75          99.93
1     AJ네트웍스           0.00           0.00
2      AK홀딩스           0.00           0.00
3     APS홀딩스           0.00           0.00
4      AP시스템           0.00           0.00
...      ...            ...            ...
2226  흥국에프엔비           0.00           0.00
2227    흥아해운           0.00           0.00
2228      희림           0.00           0.00
2229      힘스           0.00           0.00
2230     CNH           0.00           0.00

[2231 rows x 3 columns]

## 총자산증가율(X10)
- [(기말총자산(자산총계) / 기초총자산) / 기초총자산] * 100

In [43]:
df_6 = df[['회사명', '자산총계_당기', '자산총계_전기', '자산총계_전전기']]

In [44]:
df_6

         회사명        자산총계_당기        자산총계_전기       자산총계_전전기
0         3S    51831193211    48253314702    51063479567
1     AJ네트웍스  1198209311646  1204137954689  1231565485215
2      AK홀딩스   769013515282   674491546270   611531295575
3     APS홀딩스   271482862015   189220209273   242094233734
4      AP시스템   425781451874   368780828450   419365628566
...      ...            ...            ...            ...
2226  흥국에프엔비   122671159816    91838243241    88207405106
2227    흥아해운   247989912182   284767346552   386550839121
2228      희림   171794494112   165429998441   160207150556
2229      힘스    84293187571    90835511525    86740548269
2230     CNH   158670224492   171496156103   141603306548

[2231 rows x 4 columns]

In [45]:
#총자산증가율 함수 생성 a = 금년도 총자산, b = 전년도 총자산
 
def asset(a, b):
  try:
      a = ((a - b) / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    a = 0
  return round(a, 2)  #뒤에 두자리수로 반올림

In [46]:
#총자산증가율_당기 열 추가
df_6['총자산증가율_당기(X10)'] = df_6.apply(lambda x: asset(x['자산총계_당기'], x['자산총계_전기']), axis=1)

#총자산증가율_전기 열 추가
df_6['총자산증가율_전기(X10)'] = df_6.apply(lambda x: asset(x['자산총계_전기'], x['자산총계_전전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [47]:
#총자산증가율
df_6 = df_6[['회사명', '총자산증가율_당기(X10)', '총자산증가율_전기(X10)']]

In [48]:
df_6

         회사명  총자산증가율_당기(X10)  총자산증가율_전기(X10)
0         3S            7.41           -5.50
1     AJ네트웍스           -0.49           -2.23
2      AK홀딩스           14.01           10.30
3     APS홀딩스           43.47          -21.84
4      AP시스템           15.46          -12.06
...      ...             ...             ...
2226  흥국에프엔비           33.57            4.12
2227    흥아해운          -12.91          -26.33
2228      희림            3.85            3.26
2229      힘스           -7.20            4.72
2230     CNH           -7.48           21.11

[2231 rows x 3 columns]

## 매출액증가율(X11)
- [(당기매출액 / 전기매출액) / 전기매출액] * 100

In [49]:
df_7 = df[['회사명', '매출액_당기', '매출액_전기', '매출액_전전기']]

In [50]:
df_7

         회사명        매출액_당기        매출액_전기       매출액_전전기
0         3S   21999630153   19470454452   31950585373
1     AJ네트웍스  485523715929  453554892290  391780284062
2      AK홀딩스             0             0             0
3     APS홀딩스   11810634365    4535391221    3396431750
4      AP시스템  520358803096  583332097585  460248239908
...      ...           ...           ...           ...
2226  흥국에프엔비   59273534157   48422009516   51915567128
2227    흥아해운   81724313869   85455349143   97376908847
2228      희림  211829416569  203635393837  178158266942
2229      힘스   50584198635  106206149566   85064902299
2230     CNH   15634509788   40200687216   23291724498

[2231 rows x 4 columns]

In [51]:
#매출액증가율 함수 생성 a = 당기 매출액, b = 전기매출액
 
def sales(a, b):
  try:
      s = ((a - b) / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    s = 0
  return round(s, 2)  #뒤에 두자리수로 반올림

In [52]:
#매출액증가율_당기 열 추가
df_7['매출액증가율_당기(X11)'] = df_7.apply(lambda x: sales(x['매출액_당기'], x['매출액_전기']), axis=1)

#매출액증가율_전기 열 추가
df_7['매출액증가율_전기(X11)'] = df_7.apply(lambda x: sales(x['매출액_전기'], x['매출액_전전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [53]:
#매출액증가율
df_7 = df_7[['회사명', '매출액증가율_당기(X11)', '매출액증가율_전기(X11)']]

In [54]:
df_7

         회사명  매출액증가율_당기(X11)  매출액증가율_전기(X11)
0         3S           12.99          -39.06
1     AJ네트웍스            7.05           15.77
2      AK홀딩스            0.00            0.00
3     APS홀딩스          160.41           33.53
4      AP시스템          -10.80           26.74
...      ...             ...             ...
2226  흥국에프엔비           22.41           -6.73
2227    흥아해운           -4.37          -12.24
2228      희림            4.02           14.30
2229      힘스          -52.37           24.85
2230     CNH          -61.11           72.60

[2231 rows x 3 columns]

## 매출액순이익률(X12)
- (당기순이익 / 매출액) * 100

In [55]:
df_8 = df[['회사명', '당기순이익(손실)_당기', '당기순이익(손실)_전기', '매출액_당기', '매출액_전기']]

In [56]:
df_8

         회사명  당기순이익(손실)_당기  당기순이익(손실)_전기        매출액_당기        매출액_전기
0         3S     754466608    -728262536   21999630153   19470454452
1     AJ네트웍스   74063252281   17120613068  485523715929  453554892290
2      AK홀딩스   25734536677    9425944010             0             0
3     APS홀딩스   21931213062  -43598767588   11810634365    4535391221
4      AP시스템   56709601666   24000200814  520358803096  583332097585
...      ...           ...           ...           ...           ...
2226  흥국에프엔비    6663363234    4312773589   59273534157   48422009516
2227    흥아해운   15770397512  -37397762993   81724313869   85455349143
2228      희림    5444199172    5266254959  211829416569  203635393837
2229      힘스    -441392436   17204652674   50584198635  106206149566
2230     CNH  -10791167381   26635077094   15634509788   40200687216

[2231 rows x 5 columns]

In [57]:
#매출액순이익률 함수 생성 a = 당기순이익, b = 매출액
 
def inter(a, b):
  try:
      i = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    i = 0
  return round(i, 2)  #뒤에 두자리수로 반올림

In [58]:
#매출액순이익률_당기 열 추가
df_8['매출액순이익률_당기(X12)'] = df_8.apply(lambda x: inter(x['당기순이익(손실)_당기'], x['매출액_당기']), axis=1)

#매출액순이익률_전기기 열 추가
df_8['매출액순이익률_전기(X12)'] = df_8.apply(lambda x: inter(x['당기순이익(손실)_전기'], x['매출액_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [59]:
#매출액순이익률
df_8 = df_8[['회사명', '매출액순이익률_당기(X12)', '매출액순이익률_전기(X12)']]

In [60]:
df_8

         회사명  매출액순이익률_당기(X12)  매출액순이익률_전기(X12)
0         3S             3.43            -3.74
1     AJ네트웍스            15.25             3.77
2      AK홀딩스             0.00             0.00
3     APS홀딩스           185.69          -961.30
4      AP시스템            10.90             4.11
...      ...              ...              ...
2226  흥국에프엔비            11.24             8.91
2227    흥아해운            19.30           -43.76
2228      희림             2.57             2.59
2229      힘스            -0.87            16.20
2230     CNH           -69.02            66.26

[2231 rows x 3 columns]

## 총자본영업이익률ROI(X13)
- (영업이익 / 총자본) * 100
- 총자본 -> 자산총계

In [61]:
df_9 = df[['회사명', '영업이익(손실)_당기', '영업이익(손실)_전기', '자산총계_당기', '자산총계_전기']]

In [62]:
df_9

         회사명  영업이익(손실)_당기  영업이익(손실)_전기        자산총계_당기        자산총계_전기
0         3S  -1419946008    389061821    51831193211    48253314702
1     AJ네트웍스  56473577429  50286710890  1198209311646  1204137954689
2      AK홀딩스  37303132629  31612603878   769013515282   674491546270
3     APS홀딩스   1831874144 -10332255472   271482862015   189220209273
4      AP시스템  63491235157  45122485127   425781451874   368780828450
...      ...          ...          ...            ...            ...
2226  흥국에프엔비   5873896184   2377368675   122671159816    91838243241
2227    흥아해운  -1851887276  -4227715577   247989912182   284767346552
2228      희림   8031063471   9637167072   171794494112   165429998441
2229      힘스  -4183890066  24802120711    84293187571    90835511525
2230     CNH -13030879378  32364044971   158670224492   171496156103

[2231 rows x 5 columns]

In [63]:
#총자본영업이익률 함수 생성 a = 영업이익, b = 총자본(자산총계)
 
def inter(a, b):
  try:
      i = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    i = 0
  return round(i, 2)  #뒤에 두자리수로 반올림

In [64]:
#총자본영업이익률_당기 열 추가
df_9['총자본영업이익률_당기(X13)'] = df_9.apply(lambda x: inter(x['영업이익(손실)_당기'], x['자산총계_당기']), axis=1)

#총자본영업이익률_전기 열 추가
df_9['총자본영업이익률_전기(X13)'] = df_9.apply(lambda x: inter(x['영업이익(손실)_전기'], x['자산총계_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [65]:
#총자본영업이익률
df_9 = df_9[['회사명', '총자본영업이익률_당기(X13)', '총자본영업이익률_전기(X13)']]

In [66]:
df_9

         회사명  총자본영업이익률_당기(X13)  총자본영업이익률_전기(X13)
0         3S             -2.74              0.81
1     AJ네트웍스              4.71              4.18
2      AK홀딩스              4.85              4.69
3     APS홀딩스              0.67             -5.46
4      AP시스템             14.91             12.24
...      ...               ...               ...
2226  흥국에프엔비              4.79              2.59
2227    흥아해운             -0.75             -1.48
2228      희림              4.67              5.83
2229      힘스             -4.96             27.30
2230     CNH             -8.21             18.87

[2231 rows x 3 columns]

## 자기자본순이익률ROE (X14)
- (순이익 / 자기자본) * 100
- 자기자본 -> 자본총계

In [67]:
df_10 = df[['회사명', '당기순이익(손실)_당기', '당기순이익(손실)_전기', '자본총계(자기자본)_당기', '자본총계(자기자본)_전기']]

In [68]:
#자기자본순이익률 함수 생성 a = 당기순이익, b = 자기자본(자본총계)
 
def inter(a, b):
  try:
      i = (a / b) * 100
  except ZeroDivisionError:   #ZeroDivisionError를 무시하기 위해 try ~ except구문 사용
    i = 0
  return round(i, 2)  #뒤에 두자리수로 반올림

In [69]:
#자기자본순이익률_당기 열 추가
df_10['자기자본순이익률_당기(X14)'] = df_10.apply(lambda x: inter(x['당기순이익(손실)_당기'], x['자본총계(자기자본)_당기']), axis=1)

#자기자본순이익률_전기 열 추가
df_10['자기자본순이익률_전기(X14)'] = df_10.apply(lambda x: inter(x['당기순이익(손실)_전기'], x['자본총계(자기자본)_전기']), axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [70]:
#자기자본영업이익률
df_10 = df_10[['회사명', '자기자본순이익률_당기(X14)', '자기자본순이익률_전기(X14)']]

In [71]:
df_10

         회사명  자기자본순이익률_당기(X14)  자기자본순이익률_전기(X14)
0         3S              2.16             -2.25
1     AJ네트웍스             19.87              5.74
2      AK홀딩스              4.79              1.82
3     APS홀딩스             11.74            -26.34
4      AP시스템             29.99             17.57
...      ...               ...               ...
2226  흥국에프엔비              8.71              6.38
2227    흥아해운             14.58            185.49
2228      희림              8.98              9.20
2229      힘스             -0.60             22.13
2230     CNH             -9.52             21.21

[2231 rows x 3 columns]

#합치기

In [72]:
p1 = pd.merge(df_1, df_2, on='회사명', how='outer')

In [73]:
p1

         회사명  당기순손실여부(X5)  주당순이익감소여부(X6)
0         3S          1.0            0.0
1     AJ네트웍스          0.0            0.0
2      AK홀딩스          0.0            0.0
3     APS홀딩스          1.0            0.0
4      AP시스템          0.0            0.0
...      ...          ...            ...
2238  흥국에프엔비          0.0            0.0
2239    흥아해운          1.0            0.0
2240      희림          0.0            0.0
2241      힘스          1.0            1.0
2242     CNH          1.0            1.0

[2243 rows x 3 columns]

In [74]:
p2 = pd.merge(p1, df_3, how='outer', on='회사명')

In [75]:
p2

         회사명  당기순손실여부(X5)  주당순이익감소여부(X6)  유동비율_당기(X7)  유동비율_전기(X7)
0         3S          1.0            0.0       109.16       137.61
1     AJ네트웍스          0.0            0.0        32.78        31.77
2      AK홀딩스          0.0            0.0         2.04         7.56
3     APS홀딩스          1.0            0.0       154.71       131.99
4      AP시스템          0.0            0.0       212.06       143.14
...      ...          ...            ...          ...          ...
2262  흥국에프엔비          0.0            0.0        94.17       167.57
2263    흥아해운          1.0            0.0       200.29        35.11
2264      희림          0.0            0.0       133.82       130.38
2265      힘스          1.0            1.0       392.97       438.20
2266     CNH          1.0            1.0         0.00         0.00

[2267 rows x 5 columns]

In [76]:
p3 = pd.merge(p2, df_4, how='outer', on='회사명')

In [77]:
p3

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04
...,...,...,...,...,...,...,...
2310,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83
2311,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45
2312,희림,0.0,0.0,133.82,130.38,183.43,188.98
2313,힘스,1.0,1.0,392.97,438.20,14.04,16.84
2314,CNH,1.0,1.0,0.00,0.00,40.03,36.57

In [78]:
p4 = pd.merge(p3, df_5, how='outer', on='회사명')

In [79]:
p4

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8),이자보상비율_당기(X9),이자보상비율_전기(X9)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01,-311.75,99.93
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47,0.00,0.00
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54,0.00,0.00
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31,0.00,0.00
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04,0.00,0.00
...,...,...,...,...,...,...,...,...,...
2406,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83,0.00,0.00
2407,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45,0.00,0.00
2408,희림,0.0,0.0,133.82,130.38,183.43,188.98,0.00,0.00
2409,힘스,1.0,1.0,392.97,438.20,14.04,16.84,0.00,0.00
2410,CNH,1.0,1.0,0.00,0.00,40.03,36.57,0.00,0.00

In [80]:
p5 = pd.merge(p4, df_6, how='outer', on='회사명')

In [81]:
p5

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8),이자보상비율_당기(X9),이자보상비율_전기(X9),총자산증가율_당기(X10),총자산증가율_전기(X10)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01,-311.75,99.93,7.41,-5.50
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47,0.00,0.00,-0.49,-2.23
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54,0.00,0.00,14.01,10.30
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31,0.00,0.00,43.47,-21.84
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04,0.00,0.00,15.46,-12.06
...,...,...,...,...,...,...,...,...,...,...,...
2598,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83,0.00,0.00,33.57,4.12
2599,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45,0.00,0.00,-12.91,-26.33
2600,희림,0.0,0.0,133.82,130.38,183.43,188.98,0.00,0.00,3.85,3.26
2601,힘스,1.0,1.0,392.97,438.20,14.04,16.84,0.00,0.00,-7.20,4.72
2602,CNH,1.0,1.0,0.00,0.00,40.03,36.57,0.00,0.00,-7.48,21.11

In [82]:
p6 = pd.merge(p5, df_7, how='outer', on='회사명')

In [83]:
p6

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8),이자보상비율_당기(X9),이자보상비율_전기(X9),총자산증가율_당기(X10),총자산증가율_전기(X10),매출액증가율_당기(X11),매출액증가율_전기(X11)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01,-311.75,99.93,7.41,-5.50,12.99,-39.06
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47,0.00,0.00,-0.49,-2.23,7.05,15.77
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54,0.00,0.00,14.01,10.30,0.00,0.00
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31,0.00,0.00,43.47,-21.84,160.41,33.53
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04,0.00,0.00,15.46,-12.06,-10.80,26.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2982,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83,0.00,0.00,33.57,4.12,22.41,-6.73
2983,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45,0.00,0.00,-12.91,-26.33,-4.37,-12.24
2984,희림,0.0,0.0,133.82,130.38,183.43,188.98,0.00,0.00,3.85,3.26,4.02,14.30
2985,힘스,1.0,1.0,392.97,438.20,14.04,16.84,0.00,0.00,-7.20,4.72,-52.37,24.85
2986,CNH,1.0,1.0,0.00,0.00,40.03,36.57,0.00,0.00,-7.48,21.11,-61.11,72.60

In [84]:
p7 = pd.merge(p6, df_8, how='outer', on='회사명')

In [85]:
p7

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8),이자보상비율_당기(X9),이자보상비율_전기(X9),총자산증가율_당기(X10),총자산증가율_전기(X10),매출액증가율_당기(X11),매출액증가율_전기(X11),매출액순이익률_당기(X12),매출액순이익률_전기(X12)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01,-311.75,99.93,7.41,-5.50,12.99,-39.06,3.43,-3.74
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47,0.00,0.00,-0.49,-2.23,7.05,15.77,15.25,3.77
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54,0.00,0.00,14.01,10.30,0.00,0.00,0.00,0.00
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31,0.00,0.00,43.47,-21.84,160.41,33.53,185.69,-961.30
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04,0.00,0.00,15.46,-12.06,-10.80,26.74,10.90,4.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83,0.00,0.00,33.57,4.12,22.41,-6.73,11.24,8.91
3751,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45,0.00,0.00,-12.91,-26.33,-4.37,-12.24,19.30,-43.76
3752,희림,0.0,0.0,133.82,130.38,183.43,188.98,0.00,0.00,3.85,3.26,4.02,14.30,2.57,2.59
3753,힘스,1.0,1.0,392.97,438.20,14.04,16.84,0.00,0.00,-7.20,4.72,-52.37,24.85,-0.87,16.20
3754,CNH,1.0,1.0,0.00,0.00,40.03,36.57,0.00,0.00,-7.48,21.11,-61.11,72.60,-69.02,66.26

In [86]:
p8 = pd.merge(p7, df_9, how='outer', on='회사명')

In [87]:
p8

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8),이자보상비율_당기(X9),이자보상비율_전기(X9),총자산증가율_당기(X10),총자산증가율_전기(X10),매출액증가율_당기(X11),매출액증가율_전기(X11),매출액순이익률_당기(X12),매출액순이익률_전기(X12),총자본영업이익률_당기(X13),총자본영업이익률_전기(X13)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01,-311.75,99.93,7.41,-5.50,12.99,-39.06,3.43,-3.74,-2.74,0.81
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47,0.00,0.00,-0.49,-2.23,7.05,15.77,15.25,3.77,4.71,4.18
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54,0.00,0.00,14.01,10.30,0.00,0.00,0.00,0.00,4.85,4.69
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31,0.00,0.00,43.47,-21.84,160.41,33.53,185.69,-961.30,0.67,-5.46
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04,0.00,0.00,15.46,-12.06,-10.80,26.74,10.90,4.11,14.91,12.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5286,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83,0.00,0.00,33.57,4.12,22.41,-6.73,11.24,8.91,4.79,2.59
5287,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45,0.00,0.00,-12.91,-26.33,-4.37,-12.24,19.30,-43.76,-0.75,-1.48
5288,희림,0.0,0.0,133.82,130.38,183.43,188.98,0.00,0.00,3.85,3.26,4.02,14.30,2.57,2.59,4.67,5.83
5289,힘스,1.0,1.0,392.97,438.20,14.04,16.84,0.00,0.00,-7.20,4.72,-52.37,24.85,-0.87,16.20,-4.96,27.30
5290,CNH,1.0,1.0,0.00,0.00,40.03,36.57,0.00,0.00,-7.48,21.11,-61.11,72.60,-69.02,66.26,-8.21,18.87

In [90]:
fi = pd.merge(p8, df_10, how='outer', on='회사명')

In [91]:
fi

,회사명,당기순손실여부(X5),주당순이익감소여부(X6),유동비율_당기(X7),유동비율_전기(X7),부채비율_당기(X8),부채비율_전기(X8),이자보상비율_당기(X9),이자보상비율_전기(X9),총자산증가율_당기(X10),총자산증가율_전기(X10),매출액증가율_당기(X11),매출액증가율_전기(X11),매출액순이익률_당기(X12),매출액순이익률_전기(X12),총자본영업이익률_당기(X13),총자본영업이익률_전기(X13),자기자본순이익률_당기(X14),자기자본순이익률_전기(X14)
0,3S,1.0,0.0,109.16,137.61,48.48,49.01,-311.75,99.93,7.41,-5.50,12.99,-39.06,3.43,-3.74,-2.74,0.81,2.16,-2.25
1,AJ네트웍스,0.0,0.0,32.78,31.77,221.42,303.47,0.00,0.00,-0.49,-2.23,7.05,15.77,15.25,3.77,4.71,4.18,19.87,5.74
2,AK홀딩스,0.0,0.0,2.04,7.56,43.12,30.54,0.00,0.00,14.01,10.30,0.00,0.00,0.00,0.00,4.85,4.69,4.79,1.82
3,APS홀딩스,1.0,0.0,154.71,131.99,45.33,14.31,0.00,0.00,43.47,-21.84,160.41,33.53,185.69,-961.30,0.67,-5.46,11.74,-26.34
4,AP시스템,0.0,0.0,212.06,143.14,125.19,170.04,0.00,0.00,15.46,-12.06,-10.80,26.74,10.90,4.11,14.91,12.24,29.99,17.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8358,흥국에프엔비,0.0,0.0,94.17,167.57,60.36,35.83,0.00,0.00,33.57,4.12,22.41,-6.73,11.24,8.91,4.79,2.59,8.71,6.38
8359,흥아해운,1.0,0.0,200.29,35.11,129.31,-1512.45,0.00,0.00,-12.91,-26.33,-4.37,-12.24,19.30,-43.76,-0.75,-1.48,14.58,185.49
8360,희림,0.0,0.0,133.82,130.38,183.43,188.98,0.00,0.00,3.85,3.26,4.02,14.30,2.57,2.59,4.67,5.83,8.98,9.20
8361,힘스,1.0,1.0,392.97,438.20,14.04,16.84,0.00,0.00,-7.20,4.72,-52.37,24.85,-0.87,16.20,-4.96,27.30,-0.60,22.13
8362,CNH,1.0,1.0,0.00,0.00,40.03,36.57,0.00,0.00,-7.48,21.11,-61.11,72.60,-69.02,66.26,-8.21,18.87,-9.52,21.21

#저장

In [92]:
fi.to_csv('독립변수.csv', encoding='utf-8-sig')