In [79]:
import pandas as pd

In [80]:


df1 = pd.read_csv("./2021_재무상태표_연결.csv", encoding = 'euc-kr')
df2 = pd.read_csv("./2021_현금흐름표_연결.csv", encoding = 'cp949')
df3 = pd.read_csv("./2021_포괄손익계산서_연결.csv", encoding = "cp949")

# 재무상태표

In [81]:
#유동자산 행만 추출
df_유동자산 = df1[(df1['항목코드']=='ifrs-full_CurrentAssets')|(df1['항목명']=='   유동자산')]


#유동자산 열이름 바꾸기
df_유동자산.columns = ['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '유동자산_당기', '유동자산_전기', '유동자산_전전기']


#불필요한 열 제거
df_유동자산 = df_유동자산[['회사명', '유동자산_당기', '유동자산_전기', '유동자산_전전기']]

In [82]:
df_유동자산

          회사명            유동자산_당기            유동자산_전기           유동자산_전전기
1          3S     18,070,667,851     19,312,931,531     18,079,335,574
47     AJ네트웍스    273,912,905,377    248,555,402,608    478,799,539,688
102     AK홀딩스  1,352,749,114,609  1,185,254,991,117  1,327,786,611,907
157    APS홀딩스    100,483,770,397     37,547,778,577     56,460,963,192
219     AP시스템    291,254,254,708    222,255,424,722    252,429,049,428
...       ...                ...                ...                ...
89149      흥국     70,076,618,668     64,157,164,226     47,838,286,831
89192  흥국에프엔비     51,701,936,077     39,360,940,013     38,523,335,730
89236    흥아해운     55,263,611,296     59,094,649,112     93,810,123,603
89281      희림    132,394,411,051    126,313,953,532    125,041,929,761
89328      힘스     33,642,552,356     48,504,512,883     48,590,563,187

[1823 rows x 4 columns]

In [83]:
#유동부채 행만 추출
df_유동부채 = df1[(df1['항목코드']=='ifrs-full_CurrentLiabilities')|(df1['항목명']=='   유동부채')]


#유동부채 열이름 바꾸기
df_유동부채.columns = ['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '유동부채_당기', '유동부채_전기', '유동부채_전전기']


#불필요한 열 제거
df_유동부채 = df_유동부채[['회사명', '유동부채_당기', '유동부채_전기', '유동부채_전전기']]

In [84]:
df_유동부채

          회사명            유동부채_당기            유동부채_전기           유동부채_전전기
22         3S     15,766,999,142     13,519,968,653     17,221,417,861
71     AJ네트웍스    525,176,778,325    661,160,443,861    796,062,818,789
129     AK홀딩스  1,873,942,574,814  1,611,669,522,762  1,565,481,508,107
184    APS홀딩스     68,972,709,797     30,222,692,519     43,557,314,081
239     AP시스템    135,594,328,391    153,255,982,555    286,807,571,145
...       ...                ...                ...                ...
89165      흥국     21,278,764,432     24,864,364,897     21,733,179,438
89210  흥국에프엔비     46,086,707,989     22,145,587,324     23,979,216,345
89256    흥아해운     26,670,340,739    152,820,982,471    202,347,421,683
89300      희림     94,974,135,459     93,765,999,145     96,626,112,222
89355      힘스      8,563,526,563     11,045,851,745     22,705,592,894

[1823 rows x 4 columns]

In [85]:
#자본총계 행만 추출
df_자본총계 = df1[(df1['항목코드']=='ifrs-full_Equity')|(df1['항목명']=='   자본총계')]


#자본총계 열이름 바꾸기
df_자본총계.columns = ['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '자본총계(자기자본)_당기', '자본총계(자기자본)_전기', '자본총계(자기자본)_전전기']


#불필요한 열 제거
df_자본총계 = df_자본총계[['회사명', '자본총계(자기자본)_당기', '자본총계(자기자본)_전기', '자본총계(자기자본)_전전기']]

In [86]:
df_자본총계

          회사명      자본총계(자기자본)_당기      자본총계(자기자본)_전기     자본총계(자기자본)_전전기
44         3S     36,546,324,438     33,365,022,299     34,371,682,381
99     AJ네트웍스    362,510,088,118    288,007,810,106    347,341,155,620
154     AK홀딩스  1,202,359,271,295  1,262,662,062,981  1,447,641,242,209
216    APS홀딩스    187,269,274,364    163,592,771,196    207,784,761,912
265     AP시스템    191,542,497,275    138,159,606,500    114,122,896,319
...       ...                ...                ...                ...
89189      흥국     85,917,282,836     74,031,445,331     67,488,994,991
89233  흥국에프엔비     81,407,616,791     68,816,542,529     64,066,641,948
89278    흥아해운    102,939,787,802    -26,283,865,205     30,919,383,492
89325      희림     62,816,178,174     58,773,997,082     54,817,940,317
89380      힘스     73,916,234,855     77,741,823,514     60,775,015,929

[1816 rows x 4 columns]

In [87]:
#부채총계 행만 추출
df_부채총계 = df1[(df1['항목코드']=='ifrs-full_Liabilities')|(df1['항목명']=='   부채총계')]


#부채총계 열이름 바꾸기
df_부채총계.columns = ['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '부채총계(총부채)_당기', '부채총계(총부채)_전기', '부채총계(총부채)_전전기']


#불필요한 열 제거
df_부채총계 = df_부채총계[['회사명', '부채총계(총부채)_당기', '부채총계(총부채)_전기', '부채총계(총부채)_전전기']]

In [88]:
df_부채총계

          회사명       부채총계(총부채)_당기       부채총계(총부채)_전기      부채총계(총부채)_전전기
36         3S     18,068,427,911     16,293,352,322     18,957,538,831
89     AJ네트웍스    992,534,361,837  1,300,162,539,894  1,455,914,070,366
145     AK홀딩스  3,346,377,385,610  2,889,429,546,083  2,880,323,312,876
204    APS홀딩스    149,823,302,982    107,754,892,273     82,814,661,551
256     AP시스템    237,177,591,653    233,155,412,302    306,842,978,155
...       ...                ...                ...                ...
89180      흥국     32,462,825,927     34,526,283,250     24,869,272,442
89225  흥국에프엔비     50,533,753,135     23,755,243,789     25,235,548,759
89270    흥아해운    144,358,895,306    313,059,822,973    400,043,338,929
89316      희림    111,272,173,795    109,081,634,090    106,816,087,472
89373      힘스     10,386,785,891     13,124,572,948     25,965,532,340

[1822 rows x 4 columns]

In [89]:
#자산총계 행만 추출
df_자산총계 = df1[(df1['항목코드']=='ifrs-full_Assets')|(df1['항목명']=='   자산총계')]


#자산총계 열이름 바꾸기
df_자산총계.columns = ['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '자산총계_당기', '자산총계_전기', '자산총계_전전기']


#불필요한 열 제거
df_자산총계 = df_자산총계[['회사명', '자산총계_당기', '자산총계_전기', '자산총계_전전기']]

In [90]:
df_자산총계

          회사명            자산총계_당기            자산총계_전기           자산총계_전전기
20         3S     54,614,752,349     49,658,374,621     53,329,221,212
69     AJ네트웍스  1,355,044,449,955  1,588,170,350,000  1,803,255,225,986
127     AK홀딩스  4,548,736,656,905  4,152,091,609,064  4,327,964,555,085
182    APS홀딩스    337,092,577,346    271,347,663,469    290,599,423,463
237     AP시스템    428,720,088,928    371,315,018,802    420,965,874,474
...       ...                ...                ...                ...
89163      흥국    118,380,108,763    108,557,728,581     92,358,267,433
89208  흥국에프엔비    131,941,369,926     92,571,786,318     89,302,190,707
89254    흥아해운    247,298,683,108    286,775,957,768    430,962,722,421
89298      희림    174,088,351,969    167,855,631,172    161,634,027,789
89353      힘스     84,303,020,746     90,866,396,462     86,740,548,269

[1823 rows x 4 columns]

# 포괄손익계산서

In [91]:
df_당기순이익 = df3[(df3['항목코드']=='ifrs-full_ProfitLoss')|
          (df3['항목명']=='당기순손실')|(df3['항목명']=='당기순이익')|(df3['항목명']=='당기순이익(손실)')|(df3['항목명']=='당기순이익(순손실)')|
          (df3['항목명']=='VI. 당기순이익(손실)')|(df3['항목명']=='IX. 당기순이익(손실)')|(df3['항목명']=='당기순이익(손 실)')|
          (df3['항목명']=='Ⅶ. 당기순이익(손실)')|(df3['항목명']=='Ⅷ.당기순이익(손실)')|(df3['항목명']=='XIV. 당기순손실')|(df3['항목명']=='Ⅷ. 당기순이익')]



#불필요한 열 제거
df_당기순이익 = df_당기순이익[['회사명', '당기', '전기', '전전기']]

df_당기순이익.columns = ['회사명', '당기순이익_당기', '당기순이익_전기', '당기순이익_전전기']

In [92]:
df_당기순이익

          회사명      당기순이익_당기      당기순이익_전기     당기순이익_전전기
14         3S  6.953349e+08 -1.080358e+09  1.411081e+09
42     AJ네트웍스  7.673713e+10 -3.316812e+09  4.212859e+10
82      AK홀딩스 -1.993261e+11 -2.643107e+11  5.874636e+10
118    APS홀딩스  2.358586e+10 -4.230297e+10 -4.601038e+09
150     AP시스템  5.716623e+10  2.495103e+10  9.451469e+09
...       ...           ...           ...           ...
53469      흥국  1.186272e+10  1.175433e+10  7.002937e+09
53496  흥국에프엔비  6.320227e+09  3.909067e+09  5.303380e+09
53529    흥아해운  1.643649e+10 -5.087646e+10 -5.135655e+10
53564      희림  6.181726e+09  4.737034e+09  3.571420e+09
53593      힘스 -4.413924e+08  1.720465e+10  8.442232e+09

[1813 rows x 4 columns]

In [93]:
df_주당순이익 =  df3[(df3['항목코드']=='ifrs-full_BasicEarningsLossPerShare')|(df3['항목명']=='보통주 기본주당순이익')|(df3['항목명']=='      보통주 기본주당순이익')|
           (df3['항목명']=='   보통주의 기본주당순이익')|(df3['항목명']=='   기본(희석)주당순이익(손실)')|(df3['항목명']=='   기본및희석주당순이익')|
           (df3['항목명']=='   기본주당순이익')|(df3['항목명']=='   보통주 기본주당순이익')|(df3['항목명']=='   보통주당순이익')|(df3['항목명']=='   기본주당순이익(손실)')|
           (df3['항목명']=='      보통주 기본주당순이익')|(df3['항목명']=='   기본주당순이익(보통주)')|(df3['항목명']=='   기본 및 희석주당순이익(손실)')|(df3['항목명']=='   기본및희석주당순이익')|
           (df3['항목명']=='   보통주 기본 및 희석주당순이익(손실)')]


df_주당순이익 = df_주당순이익[['회사명', '당기', '전기', '전전기']]

df_주당순이익.columns = ['회사명', '주당순이익(손실)_당기', '주당순이익(손실)_전기', '주당순이익(손실)_전전기']

In [94]:
df_주당순이익

          회사명  주당순이익(손실)_당기  주당순이익(손실)_전기  주당순이익(손실)_전전기
28         3S          16.0         -24.0           32.0
64     AJ네트웍스         190.0        -344.0         -492.0
99      AK홀딩스       -8534.0      -11682.0         2273.0
123    APS홀딩스        1179.0       -2287.0         -148.0
163     AP시스템        3932.0        1736.0          671.0
...       ...           ...           ...            ...
53481      흥국        1027.0         989.0          568.0
53510  흥국에프엔비         164.0         110.0          151.0
53550    흥아해운         118.0       -1994.0         -391.0
53578      희림         490.0         389.0          288.0
53601      힘스         -39.0        1522.0          752.0

[1559 rows x 4 columns]

In [95]:
#영업이익 행만 추출
df_영업이익 = df3[(df3['항목코드']=='dart_OperatingIncomeLoss')|(df3['항목명']=='영업이익(손실)')|(df3['항목명']=='영업이익')]


#불필요한 열 제거
df_영업이익 = df_영업이익[['회사명', '당기', '전기', '전전기']]

df_영업이익.columns = ['회사명', '영업이익(손실)_당기', '영업이익(손실)_전기', '영업이익(손실)_전전기']

In [96]:
df_영업이익

          회사명   영업이익(손실)_당기   영업이익(손실)_전기  영업이익(손실)_전전기
6          3S -1.408266e+09  4.671811e+08  1.662146e+09
31     AJ네트웍스  4.510954e+10  2.108914e+10  1.564932e+10
74      AK홀딩스 -1.657149e+11 -2.215548e+11  1.313369e+11
106    APS홀딩스 -3.963572e+09 -1.087706e+10 -1.057989e+10
141     AP시스템  6.430550e+10  4.627781e+10  2.842712e+10
...       ...           ...           ...           ...
53462      흥국  1.383564e+10  1.560837e+10  8.887375e+09
53488  흥국에프엔비  6.695133e+09  2.479235e+09  5.813143e+09
53516    흥아해운 -1.874689e+09 -5.797543e+09 -1.236429e+10
53556      희림  8.283915e+09  9.145096e+09  7.234634e+09
53585      힘스 -4.371187e+09  2.496817e+10  7.702123e+09

[1661 rows x 4 columns]

In [97]:
#매출액 행만 추출
df_매출액 = df3[(df3['항목코드']=='ifrs-full_Revenue')|(df3['항목명']=='매출액')|(df3['항목명']=='수익(매출액)')]

#불필요한 열 제거
df_매출액 = df_매출액[['회사명', '당기', '전기', '전전기']]

df_매출액.columns = ['회사명', '매출액_당기', '매출액_전기', '매출액_전전기']

In [98]:
df_매출액

          회사명        매출액_당기        매출액_전기       매출액_전전기
0          3S  2.347791e+10  2.259202e+10  3.575194e+10
29     AJ네트웍스  1.026749e+12  8.719561e+11  1.000259e+12
70      AK홀딩스  3.167700e+12  2.619977e+12  3.759542e+12
101    APS홀딩스  3.941552e+10  2.534595e+10  2.315139e+10
136     AP시스템  5.287410e+11  5.917954e+11  4.620778e+11
...       ...           ...           ...           ...
53458      흥국  1.418138e+11  1.191164e+11  1.044802e+11
53482  흥국에프엔비  7.153105e+10  5.041401e+10  5.376724e+10
53512    흥아해운  8.172431e+10  8.893884e+10  1.021668e+11
53552      희림  2.120925e+11  2.038693e+11  1.785613e+11
53580      힘스  5.058420e+10  1.062061e+11  8.506490e+10

[1618 rows x 4 columns]

In [99]:
#이자비용행만 추출
df_이자비용 = df2[(df2['항목코드']=='dart_AdjustmentsForInterestExpenses')|(df2['항목명']=='이자비용')|(df2['항목명']=='      이자비용')|(df2['항목명']=='   이자비용')|(df2['항목명']=='      금융원가(이자비용)')|
          (df2['항목명']=='         이자비용')|(df2['항목명']=='      금융원가-이자비용')|(df2['항목명']=='      금융원가 (이자비용)')]


#필요한 행만 데이터프레임 생성
df_이자비용 = df_이자비용[['회사명', '당기', '전기', '전전기']]

df_이자비용.columns = ['회사명', '이자비용_당기', '이자비용_전기', '이자비용_전전기']

In [100]:
df_이자비용

              회사명         이자비용_당기         이자비용_전기        이자비용_전전기
10             3S     461,072,960     543,664,587     783,085,168
518        CJ CGV  54,605,870,351  43,166,080,826  47,142,846,176
680    CJ 바이오사이언스   4,967,894,529   1,622,295,196      45,331,085
971       CSA 코스믹     620,551,884     455,115,669     276,103,480
1080           DB   4,819,934,829   5,735,433,928   6,885,700,767
...           ...             ...             ...             ...
93504        휴마시스     130,116,982     265,781,943     799,177,008
93716         휴비스   4,954,969,278   8,540,580,671   9,386,290,508
93831         휴스틸   2,607,115,381   2,890,233,432   4,163,386,403
94083         휴켐스   1,877,292,292   2,354,139,301   3,347,367,941
94193          흥국     250,229,591     175,217,213     264,764,405

[434 rows x 4 columns]

In [101]:
df_재무상태_1 = pd.merge(df_유동자산, df_유동부채, on = "회사명", how = 'outer')
df_재무상태_2 = pd.merge(df_재무상태_1, df_자본총계, on = "회사명", how = 'outer')
df_재무상태_3 = pd.merge(df_재무상태_2, df_부채총계, on = "회사명", how = 'outer')
df_재무상태_4 = pd.merge(df_재무상태_3, df_자산총계, on = "회사명", how = 'outer')
df_재무상태_5 = pd.merge(df_재무상태_4, df_당기순이익, on = "회사명", how = 'outer')
df_재무상태_6 = pd.merge(df_재무상태_5, df_주당순이익, on = "회사명", how = 'outer')
df_재무상태_7 = pd.merge(df_재무상태_6, df_영업이익, on = "회사명", how = 'outer')
df_재무상태_8 = pd.merge(df_재무상태_7, df_매출액, on = "회사명", how = 'outer')
df_재무상태_9 = pd.merge(df_재무상태_8, df_이자비용, on = "회사명", how = 'outer')

In [102]:
df1 = pd.merge(df_당기순이익, df_주당순이익, on = "회사명", how = 'outer')

In [103]:
df1 = pd.merge(df1, df_영업이익, on = "회사명", how = 'outer')

In [104]:
df1 = pd.merge(df1, df_매출액, on = "회사명", how = 'outer')

In [105]:
df1 = pd.merge(df1, df_이자비용, on = "회사명", how = 'outer')

In [106]:
df1.head()

,회사명,당기순이익_당기,당기순이익_전기,당기순이익_전전기,주당순이익(손실)_당기,주당순이익(손실)_전기,주당순이익(손실)_전전기,영업이익(손실)_당기,영업이익(손실)_전기,영업이익(손실)_전전기,매출액_당기,매출액_전기,매출액_전전기,이자비용_당기,이자비용_전기,이자비용_전전기
0,3S,6.953349e+08,-1.080358e+09,1.411081e+09,16.0,-24.0,32.0,-1.408266e+09,4.671811e+08,1.662146e+09,2.347791e+10,2.259202e+10,3.575194e+10,"461,072,960","543,664,587","783,085,168"
1,AJ네트웍스,7.673713e+10,-3.316812e+09,4.212859e+10,190.0,-344.0,-492.0,4.510954e+10,2.108914e+10,1.564932e+10,1.026749e+12,8.719561e+11,1.000259e+12,NaN,NaN,NaN
2,AK홀딩스,-1.993261e+11,-2.643107e+11,5.874636e+10,-8534.0,-11682.0,2273.0,-1.657149e+11,-2.215548e+11,1.313369e+11,3.167700e+12,2.619977e+12,3.759542e+12,NaN,NaN,NaN
3,APS홀딩스,2.358586e+10,-4.230297e+10,-4.601038e+09,1179.0,-2287.0,-148.0,-3.963572e+09,-1.087706e+10,-1.057989e+10,3.941552e+10,2.534595e+10,2.315139e+10,NaN,NaN,NaN
4,AP시스템,5.716623e+10,2.495103e+10,9.451469e+09,3932.0,1736.0,671.0,6.430550e+10,4.627781e+10,2.842712e+10,5.287410e+11,5.917954e+11,4.620778e+11,NaN,NaN,NaN

In [107]:
df1['회사명'][100]

'KISCO홀딩스'

In [108]:
df_재무상태_4['회사명'][111]

'KH 필룩스'

In [109]:
pd.merge(df1, df_재무상태_4, on = '회사명')

,회사명,당기순이익_당기,당기순이익_전기,당기순이익_전전기,주당순이익(손실)_당기,주당순이익(손실)_전기,주당순이익(손실)_전전기,영업이익(손실)_당기,영업이익(손실)_전기,영업이익(손실)_전전기,...,유동부채_전전기,자본총계(자기자본)_당기,자본총계(자기자본)_전기,자본총계(자기자본)_전전기,부채총계(총부채)_당기,부채총계(총부채)_전기,부채총계(총부채)_전전기,자산총계_당기,자산총계_전기,자산총계_전전기
0,3S,6.953349e+08,-1.080358e+09,1.411081e+09,16.0,-24.0,32.0,-1.408266e+09,4.671811e+08,1.662146e+09,...,"17,221,417,861","36,546,324,438","33,365,022,299","34,371,682,381","18,068,427,911","16,293,352,322","18,957,538,831","54,614,752,349","49,658,374,621","53,329,221,212"
1,AJ네트웍스,7.673713e+10,-3.316812e+09,4.212859e+10,190.0,-344.0,-492.0,4.510954e+10,2.108914e+10,1.564932e+10,...,"796,062,818,789","362,510,088,118","288,007,810,106","347,341,155,620","992,534,361,837","1,300,162,539,894","1,455,914,070,366","1,355,044,449,955","1,588,170,350,000","1,803,255,225,986"
2,AK홀딩스,-1.993261e+11,-2.643107e+11,5.874636e+10,-8534.0,-11682.0,2273.0,-1.657149e+11,-2.215548e+11,1.313369e+11,...,"1,565,481,508,107","1,202,359,271,295","1,262,662,062,981","1,447,641,242,209","3,346,377,385,610","2,889,429,546,083","2,880,323,312,876","4,548,736,656,905","4,152,091,609,064","4,327,964,555,085"
3,APS홀딩스,2.358586e+10,-4.230297e+10,-4.601038e+09,1179.0,-2287.0,-148.0,-3.963572e+09,-1.087706e+10,-1.057989e+10,...,"43,557,314,081","187,269,274,364","163,592,771,196","207,784,761,912","149,823,302,982","107,754,892,273","82,814,661,551","337,092,577,346","271,347,663,469","290,599,423,463"
4,AP시스템,5.716623e+10,2.495103e+10,9.451469e+09,3932.0,1736.0,671.0,6.430550e+10,4.627781e+10,2.842712e+10,...,"286,807,571,145","191,542,497,275","138,159,606,500","114,122,896,319","237,177,591,653","233,155,412,302","306,842,978,155","428,720,088,928","371,315,018,802","420,965,874,474"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5394,팜스빌,NaN,NaN,NaN,637.0,367.0,1093.0,6.159273e+09,4.306482e+09,7.106736e+09,...,"6,358,273,394","59,304,217,740","55,762,046,211","55,507,278,032","15,003,138,205","13,275,208,538","12,306,039,776","74,307,355,945","69,037,254,749","67,813,317,808"
5395,SK이노베이션,NaN,NaN,NaN,NaN,NaN,NaN,1.754171e+12,-2.420286e+12,1.291478e+12,...,"10,457,238,112,000","19,633,194,498,000","15,458,465,083,000","18,213,217,158,000","29,924,245,706,000","23,039,681,023,000","21,321,282,884,000","49,557,440,204,000","38,498,146,106,000","39,534,500,042,000"
5396,세경하이테크,NaN,NaN,NaN,NaN,NaN,NaN,1.735134e+10,2.006350e+09,2.337805e+10,...,"57,319,868,435","157,783,850,088","131,586,158,541","138,823,824,050","104,261,975,947","76,054,082,111","67,602,736,567","262,045,826,035","207,640,240,652","206,426,560,617"
5397,수성이노베이션,NaN,NaN,NaN,NaN,NaN,NaN,-4.791499e+08,-7.373029e+08,-1.086313e+09,...,"21,121,337,621","37,720,899,819","19,528,823,146","16,268,829,137","55,553,033,771","32,849,844,903","31,024,932,551","93,273,933,590","52,378,668,049","47,293,761,688"
5398,호텔신라,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,438,081,656,778","576,904,674,240","623,955,950,923","919,541,111,322","2,079,545,237,446","2,269,886,507,822","2,607,739,512,729","2,656,449,911,686","2,893,842,458,745","3,527,280,624,051"

In [139]:
당기순손실여부_2020 = []

for i in range(len(df1['당기순이익_전기'])):
    if (df1['당기순이익_전기'].iloc[i] < 0) & (df1['당기순이익_전전기'].iloc[i] < 0):
        당기순손실여부_2020.append(int(1))
    else:
        당기순손실여부_2020.append(int(0))
        
당기순손실여부_2020

[0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 ...]

In [140]:
주당순이익감소여부_2020 = []

for i in range(len(df1['주당순이익(손실)_전기'])):
    if df1['주당순이익(손실)_전기'].iloc[i] < df1['주당순이익(손실)_전전기'].iloc[i]:
        주당순이익감소여부_2020.append(int(1))
    else:
        주당순이익감소여부_2020.append(int(0))
        
주당순이익감소여부_2020

[1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 ...]

In [141]:
df1['당기순손실여부_2020(X5)'] = 당기순손실여부_2020
df1['주당순이익감소여부_2020(X6)'] = 주당순이익감소여부_2020

In [142]:
df_2020_X5X6 = df1[['회사명', '당기순손실여부_2020(X5)', '주당순이익감소여부_2020(X6)']]

In [143]:
df_2020_X5X6

          회사명  당기순손실여부_2020(X5)  주당순이익감소여부_2020(X6)
0          3S                 0                   1
1      AJ네트웍스                 0                   0
2       AK홀딩스                 0                   1
3      APS홀딩스                 1                   1
4       AP시스템                 0                   0
...       ...               ...                 ...
1922      팜스빌                 0                   1
1923  SK이노베이션                 0                   0
1924   세경하이테크                 0                   0
1925  수성이노베이션                 0                   0
1926     호텔신라                 0                   0

[1927 rows x 3 columns]

In [125]:
df_2020_X5X6.to_csv("./df_2020_X5X6.csv", encoding = 'euc-kr')

In [151]:
df3 = pd.read_csv("./포괄손익계산서 변수 추출 (1).csv")

In [152]:
df3[df3['회사명'] == '세아제강']

,회사명,당기순이익(손실)_당기,당기순이익(손실)_전기,당기순이익(손실)_전전기,기본주당순이익(손실)_당기,기본주당순이익(손실)_전기,기본주당순이익(손실)_전전기,영업이익(손실)_당기,영업이익(손실)_전기,영업이익(손실)_전전기,매출액_당기,매출액_전기,매출액_전전기
2048,세아제강,9.139526e+10,3.305946e+10,2.485199e+10,32640.0,11713.0,8768.0,1.319457e+11,5.356349e+10,4.591198e+10,1.497361e+12,1.150466e+12,1.227180e+12

In [154]:
당기순손실여부_2020 = []

for i in range(len(df3['당기순이익(손실)_전기'])):
    if (df3['당기순이익(손실)_전기'].iloc[i] < 0) & (df3['당기순이익(손실)_전전기'].iloc[i] < 0):
        당기순손실여부_2020.append(1)
    else:
        당기순손실여부_2020.append(0)
        
당기순손실여부_2020

[0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 ...]

In [157]:
len(df3['당기순이익(손실)_전기'])

2226

In [163]:
len(주당순이익감소여부_2020)

2226

In [159]:
주당순이익감소여부_2020 = []

for i in range(len(df3['기본주당순이익(손실)_전기'])):
    if df3['기본주당순이익(손실)_전기'].iloc[i] < df3['기본주당순이익(손실)_전전기'].iloc[i]:
        주당순이익감소여부_2020.append(1)
    else:
        주당순이익감소여부_2020.append(0)
        
주당순이익감소여부_2020

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 ...]

In [164]:
df3['당기순손실여부_2020(X5)'] = 당기순손실여부_2020
df3['주당순이익감소여부_2020(X6)'] = 주당순이익감소여부_2020

df_2020_X5X6_ = df3[['회사명', '당기순손실여부_2020(X5)', '주당순이익감소여부_2020(X6)']]

In [165]:
df_2020_X5X6_[df_2020_X5X6_['회사명'] == '세아제강']

       회사명  당기순손실여부_2020(X5)  주당순이익감소여부_2020(X6)
2048  세아제강                 0                   0

In [166]:
df_2020_X5X6_.to_csv("./df_2020_X5X6.csv", encoding = 'euc-kr')